---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@/components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@/components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@/components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@/components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@/components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@/components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@/components/sections/pricing/PricingSection.astro";
import FAQ from "@/components/sections/FAQ.astro";
import AnnouncementBanner from "@/components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@/images/wet plastic grinding.webp";
import faqs from "@/data_files/faqs.json";
import features from "@/data_files/features.json";
import pricing from "@/data_files/pricing.json";
import featureImage from "@/images/pp_pe_film_recycling_washing_line.webp";
import construction from "@/images/Thermal_dryer.webp";
import tools from "@/images/Zig-Zag_Air_Classifier.webp";
import dashboard from "@/images/Belt_conveyors.webp";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore More Recycling Machines"
    url="https://www.recyclemachine.net"
  />

  <HeroSection
    title=`Equip Your Projects with <span
        class="text-yellow-500 dark:text-yellow-400">Plastic Recycling Machine</span>`
    subTitle="Top-quality plastic recycling machines for every project need."
    primaryBtn="View Our Equipment"
    primaryBtnURL="/blog"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="mailto:sales@rumtoo.com"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="an industrial plastic shredder, likely used for recycling purposes. The blue and white chutes feed plastic material into the shredder, which then breaks it down into smaller pieces. These smaller pieces can then be further processed and used to create new plastic products."
  />

  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  />

  <FeaturesGeneral
    title="Meeting Industry Demands"
    subTitle="At Rumtoo Machinery, we are committed to solving the unique challenges encountered in the world of plastic recycling. From cutting-edge recycling equipment to expert services, we're committed to helping you overcome obstacles and achieve your goals."
    src={featureImage}
    alt="an industrial-scale plastic washing line. This type of machinery is used to recycle plastic waste by cleaning, sorting, and processing it. The different components visible in the image likely include shredders, conveyors, washing tanks, and separation systems. The orange and grey color scheme is common in industrial equipment."
    features={features}
  />

  <FeaturesNavs
    title=`Customize <span class="text-yellow-500 dark:text-yellow-400">Your Recycling Solution</span> to perfectly match your specific needs and sustainability goals.`
    tabs={[
      {
        heading: "Advanced Machinery",
        content:
          "Our cutting-edge recycling machines are designed for efficiency and versatility, handling various plastic types and volumes with ease.",
        svg: "tools",
        src: tools,
        alt: "depict a Zig-Zag Air Classifier, a machine designed to separate materials based on their weight and aerodynamic characteristics",
        first: true,
      },
      {
        heading: "Intuitive Controls",
        content:
          "User-friendly interfaces and monitoring systems simplify operation and provide real-time insights into your recycling process.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Tailored Solutions",
        content:
          "We work closely with you to understand your unique requirements and develop a customized solution that maximizes your recycling efficiency and impact.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects with Efficient Plastic Recycling"
    subTitle="At Rumtoo Machinery, we help you fast-track your sustainability goals and streamline your operations with our state-of-the-art plastic recycling machines. Implement a closed-loop system and experience the speed and efficiency of plastic recycling redefined."
    ;
    testimonials={[
      {
        content:
          "plastic recycling solutions completely transformed our production process. Implementing a closed-loop system not only reduced our waste but also significantly lowered production costs. The support team was fantastic, ensuring a smooth and rapid integration!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "95%",
        description:
          "of plastic waste can be effectively recycled using our advanced machinery",
      },
      {
        count: "50%",
        description:
          "reduction in landfill waste achieved through plastic recycling",
      },
      {
        count: "30%",
        description:
          "lower production costs compared to using virgin plastic materials",
      },
      {
        count: "2x",
        description: "faster processing times with our high-efficiency machines",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="A professional Plastic Recycling Machine manufacturer in China."
    url="https://www.recyclemachine.net"
  />
</MainLayout>
